<div class="uk-container uk-margin-medium-top" style="display: flex;
justify-content: center;">
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 450px;" appearance="fill">
      <mat-label>Pesquise seu pacote</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let package of packages$ | async" [value]="package">
          {{package.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div class="uk-container">
  <div class="uk-grid uk-margin-small-top">
    <div class="uk-container">
      <div class="uk-grid uk-margin-small-top" *ngIf="!isloading">
        <div class="uk-width-1-2 uk-margin-small-bottom" *ngFor="let package of packages$ | async" >
          <app-package-card  [package]="package"></app-package-card>
        </div>
      </div>
    </div>
  </div>
</div>
