<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
      <img class="uk-icon uk-margin-small-right" src="../../assets/logo_small_150 .png" alt="">
    </p>

    <div class="uk-card uk-card-primary uk-card-body uk-box-small uk-border-rounded">
      <h3 class="uk-card-title">Junte-se a nós</h3>
      <div class="uk-margin">
        <input class="uk-input uk-form-large" type="text" name="" placeholder="Nome">
      </div>
      <div class="uk-margin">
        <input class="uk-input uk-form-large" type="text" name="" placeholder="CPF">
      </div>
      <div class="uk-margin">
        <input class="uk-input uk-form-large" type="email" name="" placeholder="E-mail">
      </div>
      <div class="uk-margin">
        <input class="uk-input uk-form-large" type="password" name="" placeholder="Senha">
      </div>
      <div class="uk-margin uk-text-right">
        <a href="/login" class="uk-button uk-button-secondary uk-border-rounded">Cadastrar</a>
      </div>
    </div>
    <p class="uk-text-center">
      <a href="/login" class="uk-button uk-button-link">Voltar</a>
    </p>
  </div>
</div>
